.contacts-list {
  background-color: pink;
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
}

.contacts-list__title {
  color: red;
  padding: 10px;
}

.contacts-list__page-count {
  color: hotpink;
  position: fixed;
  top: 10px;
}
